shell-integration = zsh
font-family = "JetBrainsMono Nerd Font"
font-size = 20
theme = Material Design Colors
macos-option-as-alt = true
macos-auto-secure-input = true
background-opacity = .9
background-blur = true
window-subtitle = working-directory
quit-after-last-window-closed = true
confirm-close-surface = false