theme = Material Design Colors

font-family = "JetBrainsMono Nerd Font"
font-size = 20

background-opacity = .9
background-blur = true

window-subtitle = working-directory

quit-after-last-window-closed = true

macos-auto-secure-input = true